@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-blue: #00356c;
  --light-blue: #003d7c;

  --font-size: 1rem;
  --font-ratio: 1.4;
}

@media (max-width: 768px) {
  :root {
    --font-ratio: 1.15;
    --font-size: 1.2rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-dark-blue: var(--dark-blue);
  --color-light-blue: var(--light-blue);

  --font-alata: var(--font-alata);
  --font-montserrat: var(--font-montserrat);
}

* {
  box-sizing: border-box;
  font-family: var(--font-alata);
}

html {
  color: var(--foreground);
  background: var(--background);

  body {
    /*  */
  }
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  color: var(--light-blue);
  font-family: var(--font-montserrat);
}

h1 {
  font-size: calc(
    var(--font-size) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)
  );
  font-weight: 600;
}

h2 {
  font-size: calc(var(--font-size) * var(--font-ratio) * var(--font-ratio));
  font-weight: 600;
}

h3 {
  font-size: calc(var(--font-size) * var(--font-ratio));
  font-weight: 600;
}

p,
li {
  font-size: calc(var(--font-size) * 1);
  color: var(--foreground);
  opacity: 0.8;
}

.alata {
  font-family: var(--font-alata);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.landing {
  overflow-x: hidden;
  max-width: 100vw;
  background: linear-gradient(
    135deg,
    hwb(210 0% 20%/0.8),
    hwb(210 0% 20%/0.8),
    var(--dark-blue),
    var(--dark-blue)
  );
}
.landing * {
  z-index: 1;
}
