@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-blue: #00356c;
  --light-blue: #0066cccc;

  --purple: #b32af3;

  --font-size: 1rem;
  --font-ratio: 1.4;
}

@media (max-width: 768px) {
  :root {
    --font-ratio: 1.125;
    --font-size: 1rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-dark-blue: var(--dark-blue);
  --color-light-blue: var(--light-blue);

  --font-alata: var(--font-alata);
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto);
}

* {
  box-sizing: border-box;
  font-family: var(--font-alata);
}

html {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  transition: height 0.3s ease-in-out;
  padding: 0;

  color: var(--color-foreground);
  background: var(--color-background);

  body {
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: height 0.3s ease-in-out;

    section {
      flex-shrink: 0;
      padding: 1rem 8rem;
    }
    @media (max-width: 768px) {
      section {
        padding: 1rem 1rem;
      }
    }
  }
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  color: var(--color-dark-blue);
  font-family: var(--font-montserrat);
}

h1 {
  font-size: calc(
    var(--font-size) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio)
  );
  font-weight: 600;
}

h2 {
  font-size: calc(var(--font-size) * var(--font-ratio) * var(--font-ratio));
  font-weight: 600;
}

h3 {
  font-size: calc(var(--font-size) * var(--font-ratio));
  font-weight: 600;
}

p,
li {
  font-size: calc(var(--font-size) * 1);
  color: var(--color-foreground);
  opacity: 0.8;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

button {
  cursor: pointer;
}

table {
  thead {
    width: 100%;

    tr {
      width: 100%;
    }
  }
  tbody {
    width: 100%;

    tr {
      width: 100%;
    }
  }
}

.alata {
  font-family: var(--font-alata);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.landing {
  overflow-x: hidden;
  max-width: 100vw;
  background: linear-gradient(
    135deg,
    var(--color-light-blue),
    var(--color-light-blue),
    var(--color-dark-blue),
    var(--color-dark-blue)
  );
}
.landing * {
  z-index: 1;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.animated-link-wrapper:hover .animated-link::before {
  transform: rotateZ(180deg);
}

.animated-link-wrapper:hover .animated-link::after {
  transform: rotateZ(-180deg);
}

.animated-link-wrapper .animated-link {
  position: relative;
  padding: 1.5rem;
}

.animated-link-wrapper .animated-link::before,
.animated-link-wrapper .animated-link::after {
  content: '';
  position: absolute;
  border: 2px solid var(--dark-blue);
  border-radius: 50%;
  transition: all 0.75s ease;
}

.animated-link-wrapper .animated-link::before {
  border-right: 2px solid transparent;
  width: 100%;
  height: 100%;
}

.animated-link-wrapper .animated-link::after {
  opacity: 0.75;
  border-left: 2px solid transparent;
  width: 80%;
  height: 80%;
}

.lines-header {
  position: relative;
  display: flex;
  align-items: center;
}

.lines-header::before,
.lines-header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--foreground);
  opacity: 0.5;
}

.lines-header::before {
  right: 105%;
}

.lines-header::after {
  left: 105%;
}

.hexagon-clip {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@keyframes moving-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.moving-gradient {
  background: linear-gradient(
    135deg,
    var(--purple),
    var(--light-blue),
    var(--purple),
    var(--light-blue)
  );
  background-size: 400% 400%;
  animation: moving-gradient 5s linear infinite;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.tiptap.ProseMirror,
.tiptap.ProseMirror.ProseMirror-focused {
  border: none !important;
  outline: none !important;
  min-height: 300px !important;
  width: 100%;
  font-family: var(--font-roboto) !important;

  *{
    font-family: var(--font-roboto) !important;
  }

  ol,
  ul {
    padding-left: 2rem;
  }

  ol {
    list-style-position: outside !important;
    li {
      list-style-type: decimal !important;
      counter-increment: list-counter !important;
      width: fit-content !important;
    }
  }

  ul {
    list-style: outside !important;
    li {
      list-style-type: disc !important;
      counter-increment: list-counter !important;
      width: fit-content !important;
    }
  }

  pre {
    background: #e8f0f8cc !important;
    padding: .5rem !important;
    border-radius: 0.5rem;
    overflow-x: auto;
    white-space: pre-wrap;
    word-break: break-word;
  }

  a{
    color: var(--color-dark-blue) !important;
    text-decoration: underline !important;

    &:hover {
      color: var(--color-light-blue) !important;
    }
  }
}
